<div class="container">

  <div class="row">
    <div class="col-3 mb-5">
      <h5 class="text-center bg-light mt-5"><%= @member.last_name %><%= @member.first_name %>さんの会員詳細</h5>
   </div>
 </div>

  <div class="row">
    <div class="col-8 mb-2">
      <table class="table">

        <tr>
          <th>会員ID</th>
        <th><%= @member.id %></th>
        </tr>
        <tr>
          <th>氏名</th>
          <th><%= @member.last_name %> <%= @member.first_name %></th>
        </tr>
        <tr>
          <th>フリガナ</th>
          <th><%= @member.last_name_kana %> <%= @member.first_name_kana %></th>
        </tr>
          <th>メールアドレス</th>
          <th><%= @member.email %></th>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <th>
            <%if @member.is_deleted == false %>
             <p class="text-success">有効</p>
            <% else %>
             <p class="text-secondary">退会済</p>
            <% end %>
          </th>
        </tr>
      </table>
    </div>


      <div class="col-12">
        <tr class="text-center">
          <th><%= link_to "編集する",edit_admin_customer_path, class: "btn btn-success offset-4" %></th>
        </tr>

      </div>
  </div>
</div>
