
  <!-- ジャンル一覧 -->
  <div class="genre-list">
    <div class="text-center"><%= render "member/videos/genres", genres: @genres %></div>
  </div>

  <!-- ユーザーの投稿動画一覧 -->
  <div class="back-color">
    <h3 class="title-font text-center">New</h3>
      <div class="album py-4">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% @videos.each do |video| %>
              <div class="col p-3">
                <div class="card shadow-sm">
                  <% if video.image.attached? %>
                    <%= image_tag video.image, class: "samu" %>
                  <% else %>
                    <div class="samu"></div>
                  <% end %>
                    <div class="card-body">
                      <p class="card-title">タイトル:<%= link_to video.title, video_path(video.id) %></p>
                      <p class="card-text">説明：<%= video.explanation %></p>
                      <span>|<%= video.created_at.strftime('%Y/%m/%d') %></span>
                      <span>|コメント件数：<%= video.comments.count %>|</span>
                    </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="p-5">
        <%= paginate @videos %>
        </div>
      </div>
  </div>