<!-- ジャンル一覧 -->
<p class="text-center"><%= render "member/videos/genres", genres: @genres %></p>

<div class="card-list-container py-5">
  <% @videos.each do |video| %>
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <% if video.video.attached? %>
      <video src="<%= rails_blob_path(video.video) %>" type="video/mp4" controls></video>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-10">
          <p class="card-title">
            <%= link_to video.title, video_path(video.id) %>
          </p>
          <p class="card-text">説明：<%= video.explanation %></p>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <% end %>
  <%= paginate @videos %>
</div>
