  <!--バリデーション-->
  <% if @video.errors.any? %>
    <%= @video.errors.count %>件のエラーが発生しました
    <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

 <div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center px-0 my-5">
        <h5 class="text-dark p-4 mb-0 sabu-name">動画投稿フォーム</h5>
          <div class="form-body p-4">
            <%= form_with model: @video, local: true do |form| %>
            <div class="p-2">
              <!--投稿フォーム-->
              <%= form.file_field :video %>
            </div>
            <div class="p-2">
              <!--タイトル-->
              <%= form.text_field :title, autofocus: true, :placeholder => "title" %> <br>
            </div>
            <div class="p-2">
              <!--説明-->
              <%= form.text_area :explanation, autofocus: true, :placeholder => "explanation" %>
            </div>
            <div class="p-2">
              <p>genre<p>
                <!--ジャンル-->
                <%= form.select :genre_id, @genres.map{ |g| [g.genre_name, g.id]} %> <br>
            </div>
            <div class="p-2">
              <!--ボタン-->
              <%= form.submit "投稿をする", class: 'btn btn-sm btn-success col-md-6' %>
            </div>
            <% end %>
          </div>
    </div>
  </div>
</div>