<h1>投稿詳細画面</h1>

<div class="mb-auto">
  <div class="post-detail py-5 bg-light">
      <div class="card w-50 mx-auto mt-4 shadow-lg">
        <% if @video.video.attached? %>
          <video src="<%= rails_blob_path(@video.video) %>" type="video/mp4" controls ></video>
        <div class="card-body">
          <div class="row">
            <div class="col-2">
              <% if @member.image.attached? %>
                <%= image_tag @member.image, size: "100x100" %>
              <% else %>
                <%= image_tag 'no_image', size: "100x100" %>
              <% end %>
            </div>
            <div class="col-10">
                <p class="card-title">
                  <%= @video.title %>
                </p>
                <p class="card-text">説明：<%= @video.explanation %></p>
                <span>|<%= @video.created_at.strftime('%Y/%m/%d') %></span>
                <span>|コメント件数：<%= @video.comments.count %>|</span>
                <span>
                <% if @video.niced_by?(current_member) %>
                  <a>
                    <%= link_to video_nices_path(@video), method: :delete do %>
                      ♥<%= @video.nices.count %>
                    <% end %>
                  </a>
                  <% else %>
                  <a>
                    <%= link_to video_nices_path(@video), method: :post do %>
                      ♡<%= @video.nices.count %>
                    <% end %>|
                  </a>
                <% end %>
                </span>
                <span><%= link_to "削除", video_path(@video.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>|</span>

              <div class="comments card-text">
                <h4 class="mt-3">コメント</h4>
                  <div class="media border mb-3">
                    <% if @member.image.attached? %>
                      <%= image_tag @member.image, size: "100x100" %>
                    <% else %>
                      <%= image_tag 'no_image', size: "100x100" %>
                    <% end %>
                    <div class="media-body ml-4 p-3">
                      <% @video.comments.each do |comment| %>
                        <%= comment.comment %>
                        <% if comment.member == current_member %>
                          <%= link_to "削除", video_comment_path(comment.video, comment), method: :delete %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
              </div>

              <div class="new-comment card-text">
                  <div class="form-group">
                    <%= form_with model: [@video, @comment] do |f| %>
                      <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
                      <%= f.submit "送信する" %>
                    <% end %>
                  </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
      <%#= paginate post_images %>
    </div>
  </div>
</div>

<!-- フッタージャンル -->
<%= render "member/videos/genres", genres: @genres %>