<h1>投稿詳細画面</h1>

<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <% if @video.video.attached? %>
      <video src="<%= rails_blob_path(@video.video) %>" type="video/mp4" controls ></video>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
        </div>
        <div class="col-10">
          <p class="card-title">
            <%= @video.title %>
          </p>
          <p class="card-text">説明：<%= @video.explanation %></p>
          <p><%= @video.created_at.strftime('%Y/%m/%d') %></p>
          <p><%= link_to "削除", video_path(@video.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></p>
          <p>コメント件数：<%= @video.comments.count %></p>
          <div>
            <%= form_with model: [@video, @comment] do |f| %>
              <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
              <%= f.submit "送信する" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <%#= paginate post_images %>
</div>

  <% @video.comments.each do |comment| %>
    <%= comment.comment %>
    <% if comment.member == current_member %>
      <%= link_to "削除", video_comment_path(comment.video, comment), method: :delete %>
    <% end %>
  <% end %>

<%= render "member/videos/genres", genres: @genres %>