
<!-- ユーザーの詳細 -->
<div class="profile-container w-75 d-flex mx-auto justify-content-around align-items-center border-bottom py-5">
  <% if @member.image.attached? %>
    <%= image_tag @member.image, size: "100x100" %>
  <% else %>
    <%= image_tag 'no_image', size: "100x100" %>
  <% end %>
  <h3><%= @member.last_name %></h3>
  <h3><%= @member.first_name %></h3>
  <div class="mt-auto">
    <% if @member.first_name != "太郎" && @member.last_name != "ゲスト" %>
    <p><%= link_to "プロフィール編集", edit_user_path(@member), class: 'btn btn-sm btn-success' %></p>
    <% end %>
    <p><%=link_to"いいね記事",nices_user_path(@member), class: 'btn btn-sm btn-success' %></p>
  </div>
</div>

<!-- ユーザーの投稿動画一覧 -->
<h3 class="text-center p-3 sabu-name">MY MOVE</h3>
  <div class="album py-4">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @videos.each do |video| %>
          <div class="col">
            <div class="card shadow-sm">
              <% if video.video.attached? %>
                <video src="<%= rails_blob_path(video.video) %>" type="video/mp4" controls></video>
                <div class="card-body">
                  <p class="card-title"><%= link_to video.title, video_path(video.id) %></p>
                  <p class="card-text">説明：<%= video.explanation %></p>
                  <span>|<%= video.created_at.strftime('%Y/%m/%d') %></span>
                  <span>|コメント件数：<%= video.comments.count %>|</span>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="p-5">
    <%= paginate @videos %>
    </div>
  </div>
